<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>Store</title>
   
        <!--custom css-->
    
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: rgb(129, 129, 129)">
        
 
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

                <!-- Links -->
                <%for(var i=0;i<nav.length;i++){%>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
                    </li>
                   
                  </ul>
                  <%}%>
                
                  <!-- Navbar text-->
                  
                
                </nav>
 
                <div class="container">
            <div class="row">
              
              <div class="col-md-12"> 
                
                <div class="panel">
                  <div class="panel-body">
                   <form action="/prod/addproduct" method="POST" enctype="multipart/form-data">
                      <p style="font-size: 30px; text-align: center" id="r">Add Product</p>
                      <table class="table " style="width: 600px; margin:auto; border: 2px solid black">
                          <tr>
                              <td>Title :</td>
                              <td><input type="text" class="form-control" name="title" placeholder="Enter Title" required></td>
                          </tr>
                          <tr>
                              <td>ID :</td>
                              <td><input type="text" class="form-control" name="id" placeholder="Enter ID" required></td>
                          </tr>
          
                          <tr>
                              <td>Price :</td>
                              <td><input type="number" class="form-control" name="price" placeholder="Enter Price" required></td>
                          </tr>
          
                          <tr>
                              <td>Image :</td>
                              <td><input type="file" class="form-control" name="image"  placeholder="Upload Image" required></td>
                          </tr>
                          
                          <tr style="text-align: left">                        
                              <td></td>
                              <td><button class="btn" type="submit" style="width: 150px; color: rgb(26, 24, 24); background: #8b3333;">Add</button></td>
                          </tr>
                      </table>
                   </form>
                    
                  </div>
                </div>
                                                                                                 
                                                                                                           
                 </div>
            </div>
          </div>
       

      
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>